In [1]:
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
data = pd.read_csv('yellow_tripdata_2021-01.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
data.tpep_dropoff_datetime = pd.to_datetime(data.tpep_dropoff_datetime)

### Question 3

In [9]:
data[(data.tpep_pickup_datetime >= '2021-01-15') & (data.tpep_pickup_datetime < '2021-01-16')]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
552720,2.0,2021-01-15 00:03:53,2021-01-15 00:40:08,1.0,18.18,2.0,N,132,48,2.0,52.00,0.0,0.5,0.00,6.12,0.3,61.42,2.5
553208,1.0,2021-01-15 00:53:53,2021-01-15 01:01:12,1.0,2.10,1.0,N,138,223,2.0,9.00,0.5,0.5,0.00,0.00,0.3,10.30,0.0
553209,1.0,2021-01-15 00:00:14,2021-01-15 00:15:04,1.0,7.20,1.0,N,209,263,1.0,21.50,3.0,0.5,5.05,0.00,0.3,30.35,2.5
553210,2.0,2021-01-15 00:01:02,2021-01-15 00:05:12,1.0,1.02,1.0,N,166,238,1.0,5.50,0.5,0.5,1.00,0.00,0.3,7.80,0.0
553211,2.0,2021-01-15 00:42:40,2021-01-15 00:45:27,5.0,1.21,1.0,N,140,262,2.0,5.50,0.5,0.5,0.00,0.00,0.3,9.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340868,NaN,2021-01-15 15:44:21,2021-01-15 16:02:10,NaN,3.01,NaN,NaN,166,119,NaN,19.84,0.0,0.5,2.75,0.00,0.3,23.39,0.0
1340869,NaN,2021-01-15 15:16:05,2021-01-15 15:32:31,NaN,2.47,NaN,NaN,188,71,NaN,21.95,0.0,0.5,2.75,0.00,0.3,25.50,0.0
1340870,NaN,2021-01-15 15:43:00,2021-01-15 15:56:00,NaN,2.40,NaN,NaN,14,22,NaN,18.18,0.0,0.5,2.75,0.00,0.3,21.73,0.0
1340871,NaN,2021-01-15 15:13:00,2021-01-15 15:21:00,NaN,1.41,NaN,NaN,55,21,NaN,17.19,0.0,0.5,2.75,0.00,0.3,20.74,0.0
1340872,NaN,2021-01-15 15:08:00,2021-01-15 16:24:00,NaN,23.97,NaN,NaN,231,201,NaN,74.29,0.0,0.5,0.00,8.41,0.3,86.00,2.5

### Question 4

In [11]:
data.sort_values(by='tip_amount').tail(1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
764800,1.0,2021-01-20 11:22:05,2021-01-20 19:47:56,1.0,427.7,1.0,Y,4,265,1.0,1128.5,2.5,0.5,1140.44,20.16,0.3,2292.4,2.5

### Question 5

In [15]:
data[(data['tpep_pickup_datetime'] >= '2021-01-14') & (data['tpep_pickup_datetime'] < '2021-01-15') & (data.PULocationID == 43)].groupby(by='DOLocationID').count().sort_values(by='VendorID')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
DOLocationID,,,,,,,,,,,,,,,,,
71,0,1,1,0,1,0,0,1,0,1,1,1,1,1,1,1,1
80,0,1,1,0,1,0,0,1,0,1,1,1,1,1,1,1,1
183,0,1,1,0,1,0,0,1,0,1,1,1,1,1,1,1,1
62,0,1,1,0,1,0,0,1,0,1,1,1,1,1,1,1,1
209,0,1,1,0,1,0,0,1,0,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,59,60,60,59,60,59,59,60,59,60,60,60,60,60,60,60,60
238,64,68,68,64,68,64,64,68,64,68,68,68,68,68,68,68,68
142,82,83,83,82,83,82,82,83,82,83,83,83,83,83,83,83,83
236,93,94,94,93,94,93,93,94,93,94,94,94,94,94,94,94,94
237,96,97,97,96,97,96,96,97,96,97,97,97,97,97,97,97,97

### Question 6

In [18]:
data.groupby(by=['PULocationID', 'DOLocationID']).mean().sort_values(by='total_amount')

,,VendorID,passenger_count,trip_distance,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
PULocationID,DOLocationID,,,,,,,,,,,,,
186,124,2.000000,1.0,14.170,5.0,4.000000,-52.000,0.00,0.0,0.000,0.000,-0.3,-54.800,-2.5
68,192,2.000000,1.0,12.200,1.0,2.000000,-40.500,0.00,-0.5,0.000,0.000,-0.3,-43.800,-2.5
28,253,NaN,NaN,5.050,NaN,NaN,-27.800,-5.50,0.5,0.000,0.000,0.3,-32.500,0.0
148,173,2.000000,1.0,11.705,1.0,3.000000,-7.000,0.00,0.0,0.000,0.000,0.0,-7.000,0.0
79,175,2.000000,1.0,15.120,1.0,2.000000,0.000,0.00,0.0,0.000,0.000,0.0,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,260,2.000000,2.0,8.240,5.0,1.000000,200.000,0.00,0.0,0.000,0.000,0.3,200.300,0.0
145,48,1.500000,1.5,2.875,1.5,1.000000,33.000,1.25,0.5,168.250,3.060,0.3,207.610,2.5
177,265,2.000000,1.0,44.350,4.0,1.000000,193.000,0.00,0.5,38.760,0.000,0.3,234.510,0.0
234,39,1.333333,1.0,73.854,1.0,1.333333,202.734,1.70,0.5,38.522,18.596,0.3,262.852,1.0
4,265,1.000000,1.0,427.700,1.0,1.000000,1128.500,2.50,0.5,1140.440,20.160,0.3,2292.400,2.5